In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/housing-prices-dataset/Housing.csv

### In this excercise we are going to perform the basic steps in exploring data to get a typical value for each feature or variable which is an estimate of where most of the data is located which we call central tendency.

There are multiple ways in which we can achieve it

Mean, Weighted Mean, Trimmed Mean, Median, Weighted Median,Percentile

In [2]:
import pandas as pd
df=pd.read_csv("/kaggle/input/housing-prices-dataset/Housing.csv")
df.head(2)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [4]:
print(sorted(df['area'].unique()))

[1650, 1700, 1836, 1905, 1950, 2000, 2015, 2135, 2145, 2160, 2175, 2176, 2275, 2325, 2398, 2400, 2430, 2475, 2500, 2520, 2550, 2610, 2640, 2650, 2684, 2700, 2747, 2787, 2800, 2817, 2835, 2850, 2856, 2870, 2880, 2910, 2953, 2970, 2990, 3000, 3036, 3040, 3060, 3069, 3090, 3100, 3120, 3150, 3162, 3180, 3185, 3210, 3240, 3264, 3290, 3300, 3350, 3360, 3400, 3410, 3420, 3450, 3460, 3480, 3500, 3510, 3512, 3520, 3540, 3570, 3584, 3600, 3620, 3630, 3635, 3640, 3649, 3650, 3660, 3680, 3700, 3720, 3745, 3750, 3760, 3780, 3792, 3800, 3816, 3840, 3850, 3880, 3900, 3930, 3934, 3960, 3968, 3970, 3986, 3990, 4000, 4032, 4040, 4046, 4050, 4075, 4079, 4080, 4095, 4100, 4120, 4130, 4160, 4200, 4240, 4260, 4280, 4300, 4320, 4340, 4350, 4352, 4360, 4370, 4400, 4410, 4500, 4510, 4520, 4560, 4600, 4632, 4640, 4646, 4700, 4750, 4770, 4775, 4785, 4800, 4815, 4820, 4840, 4880, 4900, 4920, 4950, 4960, 4990, 4992, 4995, 5000, 5010, 5020, 5040, 5076, 5136, 5150, 5170, 5200, 5300, 5320, 5360, 5400, 5450, 5495, 5500, 5600, 5640, 5680, 5700, 5720, 5750, 5800, 5828, 5830, 5850, 5880, 5885, 5900, 5948, 5960, 5985, 6000, 6020, 6040, 6050, 6060, 6100, 6210, 6240, 6254, 6300, 6321, 6325, 6350, 6360, 6400, 6420, 6440, 6450, 6480, 6500, 6525, 6540, 6550, 6600, 6615, 6650, 6660, 6670, 6710, 6720, 6750, 6800, 6825, 6840, 6862, 6900, 6930, 7000, 7020, 7085, 7152, 7155, 7160, 7200, 7231, 7260, 7320, 7350, 7410, 7420, 7424, 7440, 7475, 7482, 7500, 7600, 7680, 7686, 7700, 7770, 7800, 7950, 7980, 8000, 8050, 8080, 8100, 8150, 8250, 8372, 8400, 8500, 8520, 8580, 8800, 8875, 8880, 8960, 9000, 9166, 9500, 9620, 9667, 9800, 9860, 9960, 10240, 10269, 10360, 10500, 10700, 11175, 11410, 11440, 11460, 12090, 12900, 12944, 13200, 15600, 16200]

In [5]:
print(df[['area']].count())
print(df[['area']].sum())
print(df[['area']].mean())

area    545
dtype: int64
area    2807045
dtype: int64
area    5150.541284
dtype: float64

In [6]:
print(sorted(df['bedrooms'].unique()))
print(df['bedrooms'].count())
print(df['bedrooms'].mean())

[1, 2, 3, 4, 5, 6]
545
2.9651376146788992

In [7]:
print(sorted(df['bathrooms'].unique()))
print(df['bathrooms'].count())
print(df['bathrooms'].mean())

[1, 2, 3, 4]
545
1.2862385321100918

In [8]:
print(sorted(df['stories'].unique()))
print(df['stories'].count())
print(df['stories'].mean())

[1, 2, 3, 4]
545
1.8055045871559634

In [9]:
print(sorted(df['parking'].unique()))
print(df['parking'].count())
print(df['parking'].mean())

[0, 1, 2, 3]
545
0.6935779816513762

Till now we have performed mean now lets move on to Trimmed mean. This is caluclated by dropping a fixed number of values at eahc end and taking the average of the remaining values. Trimmed mean is widely used to avoid the iunfluence of outliers.

In [10]:
from scipy.stats import trim_mean

In [11]:
print('Trimmed mean of area is ', trim_mean(df['area'],0.05))
print('Trimmed mean of beadrooms is ', trim_mean(df['bedrooms'],0.05))
print('Trimmed mean of bathrooms is ', trim_mean(df['bathrooms'],0.05))
print('Trimmed mean of stories is ', trim_mean(df['stories'],0.05))
print('Trimmed mean of parking is ', trim_mean(df['parking'],0.05))

Trimmed mean of area is  4986.841140529532
Trimmed mean of beadrooms is  2.9368635437881876
Trimmed mean of bathrooms is  1.2382892057026476
Trimmed mean of stories is  1.7291242362525459
Trimmed mean of parking is  0.6354378818737271

Now lets caluclate median which return the middle value of a sorted data. Median does not use all observation like mean it just depends on values in the center of the sorted data. Median is genberally refered as robust estimate to location since it is not influenced by outlier that could skew/ bias the results.

In [12]:
print("The median for area is ", df['area'].median())
print("The median for bedrooms is ", df['bedrooms'].median())
print("The median for bathrooms is", df['bathrooms'].median())
print("The median for stories is", df['stories'].median())
print("The median for parking is", df['parking'].median())

The median for area is  4600.0
The median for bedrooms is  3.0
The median for bathrooms is 1.0
The median for stories is 2.0
The median for parking is 0.0

In [13]:
df.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [14]:
df.head(10)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
5,10850000,7500,3,3,1,yes,no,yes,no,yes,2,yes,semi-furnished
6,10150000,8580,4,3,4,yes,no,no,no,yes,2,yes,semi-furnished
7,10150000,16200,5,3,2,yes,no,no,no,no,0,no,unfurnished
8,9870000,8100,4,1,2,yes,yes,yes,no,yes,2,yes,furnished
9,9800000,5750,3,2,4,yes,yes,no,no,yes,1,yes,unfurnished